<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>User_Login Form </center>


    <form method="POST">

        {% csrf_token %}


        <label for="text">Username</label>
        <input type="text" name="text" id="text">

<br><br>

        <label for="pw">password</label>
        <input type="password" name="pw" id="pw">


<br><br>
        <input type="submit" value="Login">
    </form>


<button><a href="{% url 'registerform' %}">Register</a></button>
    
</body>
</html>